# Association Rules

### 1. Import Libraries

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [12]:
books = pd.read_csv("book_AR.csv")
books

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

### 2. EDA

In [6]:
books.shape

(2000, 11)

In [7]:
length1 = len (books)
length1

2000

In [8]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ChildBks   2000 non-null   int64
 1   YouthBks   2000 non-null   int64
 2   CookBks    2000 non-null   int64
 3   DoItYBks   2000 non-null   int64
 4   RefBks     2000 non-null   int64
 5   ArtBks     2000 non-null   int64
 6   GeogBks    2000 non-null   int64
 7   ItalCook   2000 non-null   int64
 8   ItalAtlas  2000 non-null   int64
 9   ItalArt    2000 non-null   int64
 10  Florence   2000 non-null   int64
dtypes: int64(11)
memory usage: 172.0 KB

### 2. Apriori Algorithm

a) with 10% support and 70% confidence

b) with 7% support and 85% confidence

c) with 5% support and 90% confidence

#### a) with 10% support and 70% confidence:

In [ ]:
# Association rule with --> 10% support
frequently_read = apriori(books, min_support = 0.1, use_colnames = True)
frequently_read

In [ ]:
# Association rule with --> 70% confidence
rules1 =  association_rules(frequently_read, metric = "lift", min_threshold = 0.7)
rules1

#### An leverage value of 0 indicates independence. Range will be [-1,1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [ ]:
rules1.sort_values('lift',ascending = False) [0:20]

In [ ]:
 # Lift ratio > 1 -->  good to select the movies 
rules1[rules1.lift>1]

In [ ]:
# visualization of obtained rule by bar plot
import matplotlib.pyplot as plt
rules1.plot(kind='bar',x='support',y='confidence',color='blue')
plt.xlabel('support')
plt.ylabel('confidence')
plt.title('barplot')

In [ ]:
# Visualization of obtained rule

plt.scatter(rules1['support'],rules1['confidence'])
plt.xlabel('support')
plt.ylabel('confidence')
plt.show()

In [ ]:
x=[0.1035,0.152,0.43]
y=[38,20,2]
plt.scatter(x,y)
plt.xlabel('Minimum Support')
plt.ylabel('Frequent Itemsets')
plt.title('Relation Between Min Support Value and Frequent Itemsets')

#### b) with 7% support and 85% confidence:

In [ ]:
# Association rule with --> 7% support
frequently_read = apriori(books, min_support = 0.07, use_colnames = True)
frequently_read

In [ ]:
# Association rule with --> 85% confidence
rules2 =  association_rules(frequently_read, metric = "lift", min_threshold = 0.85)
rules2

In [ ]:
rules2.sort_values('lift',ascending = False) [0:20]

In [ ]:
 # Lift ratio > 1 -->  good to select the movies 
rules2[rules2.lift>1]

In [ ]:
# visualization of obtained rule by bar plot
rules2.plot(kind='bar',x='support',y='confidence',color='green')
plt.xlabel('support')
plt.ylabel('confidence')
plt.title('barplot')

In [ ]:
# Visualization of obtained rule2
plt.scatter(rules2['support'],rules2['confidence'])
plt.xlabel('support')
plt.ylabel('confidence')
plt.show()

In [ ]:
x=[0.08,0.2145,0.247]
y=[65,4,1]
plt.scatter(x,y)
plt.xlabel('Minimum Support')
plt.ylabel('Frequent Itemsets')
plt.title('Relation Between Min Support Value and Frequent Itemsets')

#### c) with 5% support and 90% confidence

In [ ]:
# Association rule with --> 5% support
frequently_read = apriori(books, min_support = 0.05, use_colnames = True)
frequently_read

In [ ]:
# Association rule with --> 85% confidence
rules3 =  association_rules(frequently_read, metric = "lift", min_threshold = 0.85)
rules3

In [ ]:
rules3.sort_values('lift',ascending = False) [0:20]

In [ ]:
 # Lift ratio > 1 -->  good to select the movies 
rules3[rules3.lift>1]

In [ ]:
# visualization of obtained rule by bar plot
rules3.plot(kind='bar',x='support',y='confidence',color='red')
plt.xlabel('support')
plt.ylabel('confidence')
plt.title('barplot')

In [ ]:
# Visualization of obtained rule3
plt.scatter(rules3['support'],rules3['confidence'])
plt.xlabel('support')
plt.ylabel('confidence')
plt.show()

In [ ]:
x=[0.0535,0.2145,0.247]
y=[99,4,1]
plt.scatter(x,y)
plt.xlabel('Minimum Support')
plt.ylabel('Frequent Itemsets')
plt.title('Relation Between Min Support Value and Frequent Itemsets')